button {
    padding: 3% 8%;
    background:rgba(180, 116, 116, 0.1);
    color: #fff;
    border: 1px dotted #fff;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 0.6em;
    margin: 4% 0;
    border-radius: 15px;
}