#ui-cards {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4%;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;

    .ui-card {
        height: 100%;
        width: 100%;
        max-height: 400px;
        border-radius: 15px;
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
 
        .overlay {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8) 40%, transparent);
            height: 100%;
            width: 100%;
            border-radius: 15px;
            padding: 4%;
            position: relative;
        }

        .ov__01 { display: none; }
        .ov__02 { display: none; }
        .ov__03 { display: none; }
    }

    .ui-card:nth-child(1) {
        background: url('../../assets/01.jpg') center no-repeat;
        background-size: cover;
    }
    .ui-card:nth-child(2) {
        background: url('../../assets/02.jpg') center no-repeat;
        background-size: cover;
    }
    .ui-card:nth-child(3) {
        background: url('../../assets/03.jpg') center no-repeat;
        background-size: cover;
    }

    .inf {
        position: absolute;
        bottom: 4%;
        left: 4%;
        right: 4%;
    }

}